<!DOCTYPE html>
<!-- <script src=""></script> -->
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="../css/style.css" />
    <link rel="stylesheet" href="../libs/modal.css" />
    <script src="../libs/menu.js" defer></script>
    <script src="../js/bootstrap/homeApp.js" defer></script>
    <title>Document</title>
  </head>

  <body>
    <nav class="menu">
      <button id="menu-mobile">
        <span></span>
        <span></span>
        <span></span>
      </button>
      <ul class="menu_open">
        <li><a class="url-activated" href="index.html">Accueil</a></li>
        <li><a href="activity.html?activityId=1">Catégorie 1</a></li>
        <li><a href="activity.html?activityId=2">Catégorie 2</a></li>
        <li><a href="activity.html?activityId=3">Catégorie 3</a></li>
      </ul>
    </nav>
    <div class="container">
      <div class="container_bubble">
        <div class="container_user">
          <div class="user_avatar"></div>
          <div class="user_name"></div>
        </div>
      </div>
      <div class="legend">
        <div class="legend_categ">
          <h3>Catégories :</h3>
          <div><span class="yellow"></span><p>Concevoir et développer des composants d'interfaceutilisateur en intégrant les recommandations de sécurité</p></div>
          <div><span class="green"></span><p>Concevoir et développer la persistance des données en intégrant les recommandations de sécurité</p></div>
          <div><span class="blue"></span><p>Concevoir et développer une application multicouche répartie en intégrant les recommandations de sécurité</p></div>
        </div>
        <div class="legend_level">
          <h3>Niveau :</h3>
          <div><span class="bubble_red"></span><p>Valider</p></div>
          <div><span class="invalidate"></span><p>Invalider</p></div>
        </div>
      </div>
    </div>
  </body>
</html>
